*{
	margin: 0px auto;
	padding: 0px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/* 黑色导航栏 */
.hwhead-big{
	width: 100%;
	height: 114px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 7px 20px -20px;
}
.hwhead-top{
	width: 100%;
	height: 36px;
	background: #000000;
	
}
.hwhead-top-one{
	/* width: 1268.67px; */
	margin: 0 auto;
}
.hwhead-to1{
	height: 36px;
	width: 1200px;
	margin: 0 auto;
	
}
.hwhead-to1>ul{
	float: left;
	color: white;
	
	
}
.hwhead-top-ul1{
	width: 600px;
	font-size: 12px;
	overflow: hidden;
}
.hwhead-top-ul1 li{
	/* border: 1px solid red; */
	float: left;
	
	padding: 0px 7px;
	border-left: 1px solid #414141;
	margin-top: 9px;
	color: #999999;
	cursor: pointer;
}
.hwhead-top-ul1 li a{
	color: #999999;
}
#hw-shouye-li1{
	padding-left: 0px;
	border-left: none;
	
}
.hw-sy-span1{
	display: inline-block;
	/* border: 1px solid salmon; */
	
}
.hw-sy-img1{
	display: inline-block;
	margin-left: 2px;
	width: 12px;
	height: 12px;
	
}
.hwhead-top-right{
	/* border: 1px solid red; */
}
.hwhead-top-ul2{
	 width: 504px;
	font-size: 12px;
	height: 35px;
	/* overflow: hidden; */
	 /* border: 1px solid red; */
	float: right;
}
.hwhead-top-ul2 li{
	/* border: 1px solid red; */
	float: left;
	padding: 0px 7.8px;
	border-left: 1px solid #414141;
	margin-top: 9px;
	color: #999999;
	cursor: pointer;
	float: right;
}
.hwhead-top-ul2 li a{
	color: #999999;
}
.hw-sy-img2{
	/* border: 1px solid red; */
	display: inline-block;
	/* margin-right: 10px; */
	vertical-align: middle;
	margin-top: -3px;
}
#hw-gwc-li1{
	margin: 0px;
	line-height: 36px;
	/* border: 1px solid seagreen; */
	/* width: 82px; */
	background: #424242;
	text-align: center;
}
/* 白色部分 */
.hwhead-bottom{
	width: 1200px;
	height: 74px;
	margin: 0 auto;
}
.hwhead-bottom>div{
	
	/* border: 1px solid red; */
}
.hwhead-bo-div1{
	float: left;
}
.hwhead-bo-div1>img{
	display: inline-block;
	width: 103px;
	height: 74px;
	/* border: 1px solid red; */
}
.hwhead-bo-div2{
	float: left;
	position: relative;
}
.hwhead-bo-div2>ul{
	/* overflow: hidden; */
	margin-left: 40px;
	margin-top: 30px;
	/* border: 1px solid red; */
	height: 44px;
}
.hwhead-bo-div2>ul>li{
	font-size: 16px;
	float: left;
	margin-left: 40px;
	cursor: pointer;
	padding-bottom: 23px;
	/* border: 1px solid red; */
}

.hwhead-bo-div2>ul>li:hover>span{
	color: #DA3232;
}
.hwhead-bo-div3{
	float: right;
	
	
}
.hwhead-bo-sousuo{
	margin-top: 25px;
	border: 1px solid #F0F0F0;
	background: #F0F0F0;
	border-radius: 40px;
	width: 240px;
	height: 30px;
	position: relative;
	
}
.sousuo-kuan{
	display: inline-block;
	border: none;
	
	background: #F0F0F0;
	height: 25px;
	position: absolute;
	left: 5px;
	top: 2.5px;
	width: 190px;
	padding-left: 15px;
	border-radius: 15px;
	line-height: 30px;
	outline:  none;
	font-size: 12px;
}
.sousuo-an{
	background: #F0F0F0 url(../img/搜索小.png) no-repeat 2px 6px;
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 28px;
	display: inline-block;
	margin-top: 6px;
	position: absolute;
	right: 3px;
	top: -6px;
	z-index: 99;
	/* background: #F0F0F0; */
}


/* 下拉菜单 */

.hwhead-xiaolai{
	position: absolute;
	top: 74px;
	left: -264.4px;
	width: 1522.4px;
	/* height: 300px; */
	background: white;
	display: none;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	z-index: 99999;
}
#hwhead-xiaolai-id1{
	
}
.hwhead-xiaolai>ul{
	width: 1200px;
	overflow: hidden;
	padding-bottom: 10px;
	margin: 0px auto;
}
.hwhead-xiaolai ul li{
	width: 171px;
	float: left;
	/* border: 1px solid red; */

}
.hwhead-xiaolai>ul li img{
	display: block;
	height: 120px;
	width: 120px;
	/* margin-top: 20px; */
	margin: 20px auto 0px;
	
	
}
.hwhead-xiaolai>ul li div{
	width: 130px;
	text-align: center;
	height: 30px;
	font-size: 12px;
	/* margin-top: 5px; */
	margin: 5px auto 0px;
	color: #333333;
}
.hwhead-xiaolai>ul li p{
	width: 130px;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	color: #D52947;
	margin: 0px auto;
}



