*{
	margin: 0px auto;
	padding: 0px;
}
ul{
	list-style: none;
}
/*包含以下四种的链接*/
a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a{
    text-decoration: none;
}
.lunbo-big{
	width: 1522.4px;
	margin-top: 1px;
	position: relative;
}
.lunbo-caidan{
	width: 200px;
	height: 500px;
	
	position: absolute;
	background: #FFFEFD;
	left: 170px;
	top: 25px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 12px;
}
/* 轮播图 */
#big{
	width: 1522.4px;
	height: 550px;
	position: relative;
	overflow: hidden;
}
#big>ul{
	list-style: none;
	width: 100000px;
	height: 550px;
	position: absolute;
	
}
#big>ul>li{
	background-color: pink;
	/* position: absolute; */
	float: left;
	width: 1368.67px;
	height: 550px;
	
}
.left,.right{
	position: absolute;
	top: 250px;
	width: 40px;
	border-radius: 20px;
	background: rgba(125,125,125,0.5);
	line-height: 40px;
	text-align: center;
}
.left{
	left: 250px;
}
.right{
	right: 0px;
}
.dian{
	
	position: absolute;
	left: 40%;
	top: 90%;
}
.dian ul{
	overflow: hidden;
	list-style: none;
}
.dian ul li{
	float: left;
	border: 1px solid red;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: 0px 10px;
}
/* 菜单 */
.lunbo-caidan>ul{
	margin-top: 8px;
	
	
	
}
.lunbo-caidan>ul>li{
	height: 40px;
	line-height: 40px;
	padding-left: 25px;
	font-size: 14px;
	color: #9E9796;
	width: 155px;
	padding-right: 20px;
	cursor: pointer;
}
.caidan-img1{
	display: inline-block;
	float: right;
	margin-top: 14px;
}
/* 隐藏菜单 */
.caidan-li1>ul{
	width: 490px;
	height: 500px;
	position: absolute;
	left: 200px;
	top: 0px;
	background: white;
	display: none;
	z-index: 9900;
	
}
/* 移动轮播图 */
#yd-lunbotu{
	position: absolute;
	left: -200px;
}
/* 二级菜单列数 */
.caidan-li1 ul li{
	/* border: 1px solid red; */
	width: 230px;
	height: 500px;
	float: left;
	
}
.caidan-li1 ul li ul{
	margin-top: 18px;
	width: 490px;
}
.caidan-li1>ul li ul li{
	width: 220px;
	height: 60px;
	border-radius: 40px;
	margin-bottom: 20px;
	cursor: pointer;
	padding-left: 8px;
	margin-left: 10px
}
.caidan-li1>ul li ul li:hover{
	background: #F1F3F5;
}
.caidan-li1>ul li ul li:hover>p{
	color: #CF0A2C;
	
}
.caidan-li1>ul li ul li img{
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin: 10px 10px 10px 20px;
}

.caidan-li1>ul li ul li p{
	font-size: 12px;
	line-height: 60px;
	color: #666666;
}
/* 查看更多 */
#caidan-ckgd{
	
}


/* 首页 */
.home-big{
	border-top: 1px solid #F1F3F5;
	border-bottom: 1px solid #F1F3F5;
	width: 100%;
	padding-bottom: 40px;
	background: #F1F3F5;
}
.home-one{
	width: 1200px;
	height: 95px;
	margin-top: 30px;

}
.home-one>ul li{
	overflow: hidden;
	cursor: pointer;
}
.home-one>ul li{
	width: 171px;
	height: 95px;
	text-align: center;
	float: left;
	
}
.home-one>ul li p{
	width: 48px;
	height: 48px;
	/* border: 1px solid red; */
}
.home-one>ul li p img{
	display: block;
	width: 48px;
	height: 48px;
}
/* 小图标 */
.home-one>ul li span{
	display: block;
	margin-top: 10px;
	font-size: 14px;
}
.home-two{
	width: 1200px;
	height: 194px;
	margin-top: 10px;

}
.home-two>ul{
	width: 1200px;
}
.home-two ul li{
	width: 291px;
	height: 194px;
	
	float: left;
	margin-right: 11px;
}
.home-two ul li:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}
/* 第二图片 */
.home-two ul li img{
	display: block;
	width: 291px;
	height: 194px;
}
#home-two-li1{
	margin-right: 0px;
	
	
}
.home-three{
	margin-top: 25px;
	width: 1210px;
	margin-top: 30px;
}
.home-three-title{
	height: 64px;
	width: 1200px;
	/* border: 1px solid red; */
}
.htt-p1{
	font-size: 24px;
	float: left;
	line-height: 60px;
}
.htt-p2{
	font-size: 14px;
	float: right;
	color: #606162;
	line-height: 55px;
	margin-right: 5px;
}
.home-three-shop1{
	width: 1210px;
	position: relative;
}
.home-three-shop1 ul{
	width: 1210px;
	overflow: hidden;f
	
}
.home-three-shop1 ul li{
	width: 231.5px;
	height: 306px;
	background: #FFFFFF;
	float: left;
	margin: 5px;
	
}
.home-three-shop1 ul li:hover{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	cursor: pointer;
	
}
/*   */
.home-three-shop1 ul li img{
	display: block;
	width: 154px;
	height: 154px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* 图片下的字体 */
.home-three-shop1 ul li div{
	/* border: 1px solid red; */
	height: 107px;
}
.home-tsdiv1{
	text-align: center;
}
.home-tsdiv1-p1{
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	line-height: 18px;
	width: 182px;
	height: 38px;
}
.home-tsdiv1-p2{
	font-size: 13px;
	color: #808080;
	line-height: 30px;
	width: 182px;
	height: 18px;
}
.home-tsdiv1-p3{
	margin-top: 10px;
	font-size: 16px;
	color: #CF0A2C;
	line-height: 30px;
	width: 182px;
	height: 21px;
	
}


/* 五个的选项卡 */
.home-four{
	width: 1210px;
}
.home-four-title{
	position: relative;
	width: 1200px;
	height: 64px;
	margin-top: 20px;
}
.home-four-title ul{
	overflow: hidden;
}
.home-four-title ul li{
	float: left;
	font-size: 18px;
	height: 64px;
	color: #606162;
	margin-right: 30px;
	line-height: 64px;
	cursor: pointer;
	
}
#home-four-li1{
	font-size: 24px;
	color: #2C2D2D;
}
.home-four-shop1{
	width: 1210px;
	position: relative;
}
.home-four-shop1>ul{
	width: 1210px;
	overflow: hidden;
	position: absolute;
	display: none;
}
.home-four-shop1 ul li{
	width: 231.5px;
	height: 306px;
	background: white;
	float: left;
	margin: 5px;
	text-align: center;
}
.home-four-shop1 ul li:hover{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	cursor: pointer;
}

.home-four-shop1 ul li img{
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 142px;
	height: 142px;
	
}
/* 图片下的字体 */
.hofo-p1{
	width: 182px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	/* 超出部分省略 */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
.hofo-p2{
	width: 182px;
	line-height: 20px;
	font-size: 13px;
	height: 30px;
	color: #808080;
	
}
.hofo-p3{
	width: 182px;
	line-height: 20px;
	font-size: 16px;
	height: 30px;
	color: #CF0A2C;
}
#home-four-xian{
	display: block;
}

.home-four1{
	width: 1210px;
}
.home-four1-title{
	width: 1200px;
	height: 64px;
	margin-top: 20px;
	position: relative;
}
.home-four1-title ul{
	overflow: hidden;
}
.home-four1-title ul li{
	float: left;
	font-size: 18px;
	height: 64px;
	color: #606162;
	margin-right: 30px;
	line-height: 64px;
	cursor: pointer;
	
}

#home-four1-li1{
	font-size: 24px;
	color: #2C2D2D;
}
.home-four1-shop1{
	width: 1210px;
	position: relative;
}
.home-four1-shop1 ul{
	width: 1210px;
	overflow: hidden;
	
	
	position: absolute;
	display: none;
}
.home-four1-shop1 ul li{
	width: 231.5px;
	height: 306px;
	background: white;
	float: left;
	margin: 5px;
	text-align: center;
}
.home-four1-shop1 ul li:hover{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	cursor: pointer;
}

.home-four1-shop1>ul li img{
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 142px;
	height: 142px;
	
}
#home-four1-xian{
	display: block;
}





/* 四个的选项卡 */
.home-five1{
	width: 1210px;
}
.home-five1-title{
	width: 1200px;
	height: 64px;
	margin-top: 20px;
	position: relative;
}
.home-five1-title>ul{
	overflow: hidden;
}
.home-five1-title>ul li{
	float: left;
	font-size: 18px;
	height: 64px;
	color: #606162;
	margin-right: 30px;
	line-height: 64px;
	cursor: pointer;
}
#home-five1-li1{
	font-size: 24px;
	color: #2C2D2D;
}
.home-five1-shop1{
	width: 1210px;
	position: relative;
}
.home-five1-shop1 ul{
	width: 1210px;
	/* overflow: hidden; */
	
	
	position: absolute;
	display: none;
}
.home-five1-shop1>ul li{
	width: 291.5px;
	height: 390px;
	background: white;
	float: left;
	margin: 5px;
	
}
.home-five1-shop1>ul li:hover{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	cursor: pointer;
	
}
.home-five1-shop1>ul li img{
	display: block;
	width: 180px;
	height: 180px;
	margin-top: 36px;
	margin-bottom: 36px;
}
/* 图片下的字体 */
.hfs-div1{
	height: 152px;
	text-align: center;
}
.hfs-div1-p1{
	width: 243px;
	height: 30px;
	line-height: 30px;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	/* 超出部分省略 */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
.hfs-div1-p2{
	width: 243px;
	height: 21px;
	line-height: 21px;
	color: #979797;
	font-size: 13px;
	height: 30px;
}
.hfs-div1-p3{
	width: 243px;
	height: 21px;
	color: #D21A3A;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}
.hfs-div1-p4{
	width: 243px;
	height: 21px;
	color: #D21A3A;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
.hfs-div1-p4 span{
	/* display: inline-block; */
	border: 0.5px solid #D21A3A;
	border-radius: 5px;
}
#home-xinping{
	color: white;
	background: #E7314F;
	font-size: 12px;
	border-radius: 5px;
}
#home-five1-xian{
	display: block;
}

/* 跟多 */
#home-gengduo{
	font-size: 14px;
	position: absolute;
	right: 0px;
	top: 26px;
	cursor: pointer;
}
#home-gengduo span{
	float: left;
	display: inline-block;
	color: #808080;
}
#home-gengduo img{
	display: inline-block;
	position: relative;
	right: 5px;
	height: 26px;
	margin-top: -3px;
}

.djs-ys1{
	float: left;
	/* border: 1px solid red; */
	font-size: 18px;
	color: #919293;
	margin-left: 30px;
	margin-top: 18px;
	margin-right: 10px;
}
.djs-ys{
	float: left;
	/* border: 1px solid red; */
	margin-top: 14px;
	font-size: 18px;
}
.hdbz{
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: white;
	border-radius: 2px;
	/* border: 1px solid red; */
	background: #CF0A2C;
}
.hdbz1{
	color: #CF0A2C;
}
