*{
	margin: 0px auto;
	padding: 0px;
}
#shipp_big{
	width: 100%;
	margin-top: 15px;
	/* border: 1px solid red; */
}
.shipp_hoder{
	width: 1199px;
	height: 28.67px;
	margin-bottom: 15px;
	/* border: 1px solid black; */
}
.shipp_hoder>a{
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	text-decoration: none;
	color: #66667F;
}
.shipp_hoder>span{
	font-size: 12px;
	color: #806F8D;
}
.shipp_xq{
	width: 1200px;
	height:550px;
	/* border: 1px solid green; */
}

.shipp_img{
	width: 450px;
	height: 536px;
	/* border: 1px solid yellow; */
	float: left;
}
.shipp_img>ul>li{
	list-style: none;
}

.img_qh>li{
	position: absolute;
	display: none;
	
}
.img_qh>li>img{
	width: 450px;
	height: 450px;
}
.img_qh>.img_1{
	display: block;
}

.shipp_jianjie{
	width: 700px;
	/* border: 1px solid blue; */
	float: left;
	margin-left: 45px;
}
.shipp_jianjie1{
	width: 700px;
	height: 31.33px;
	/* border: 1px solid black; */
}
.shipp_m{
	font-size: 21px;
	overflow: hidden;
	margin-bottom: 10px;
}
.shipp_jianjie3{
	width: 700px;
	height: 85px;
	/* border: 1px solid black; */
	background: #F5F5F5;
	margin-top: 10px;
}
.shipp_jg{
	width: 700px;
	height: 30px;
	margin-left: 5px;
	/* border: 1px solid black; */
}
.shipp_dj{
	font-size: 12px;
	margin-top: 13px;
	margin-left: 3px;
}
.shipp_qg{
	font-size: 18px;
	margin-left: 40px;
	color: #ca141d;
}
.shipp_q{
	font-size: 24px;
	margin-left: 5px;
	color: #ca141d;
}
.shipp_cc{
	width: 700px;
	height: 34px;
	margin-left: 5px;
	margin-top: 20px;
	/* border: 1px solid black; */
}
.shipp_cx{
	font-size: 12px;
	margin-left: 3px;
}
.shipp_cx1{
	font-size: 12px;
	color: #CA141D;
	margin-left: 40px;
	border: 1px solid #CA141D;
}
.shipp_cx2{
	font-size: 12px;
	margin-left: 5px;
}
.line1{
	width: 700px;
	height: 0px;
	margin-top: 8px;
	border-bottom: 1px solid #ddd;
}
.shipp_jianjie4{
	width: 700px;
	height: 70px;
	/* border: 1px solid pink; */
	margin-top: 15px;
}
.shipp_fw{
	position: absolute;
	font-size: 12px;
	margin-left: 6px;
	margin-top: 6px;
}
.shipp_fw3{
	width: 600px;
	height: 30px;
	margin-left: 90px;
	/* border: 1px solid pink; */
}
.img_fw{
	position: absolute;
	margin-left: 70px;
	
}
.img_fw1{
	position: absolute;
	margin-left: 90px;
}
.shipp_fw1{
	font-size: 12px;
	position: absolute;
	margin-top: 6px;
	
}
.shipp_fw2{
	font-size: 12px;
	position: absolute;
	margin-top: 6px;
	margin-left: 120px;
}

.shipp_bh{
	width: 700px;
	height: 30px;
	/* border: 1px solid pink; */
	margin-top: 8px;
}
.shipp_bh1{
	font-size: 12px;
	/* position: absolute; */
	margin-left: 6px;
}
.shipp_bh2{
	font-size: 12px;
	margin-left: 30px;
}
.shipp_jianjie5{
	width: 700px;
	height: 41px;
	margin-top: 15px;
	/* border: 1px solid pink; */
}
.color{
	font-size: 12px;
	position: absolute;
	margin-left: 6px;
	margin-top: 10px;
}
.shipp_jianjie6{
	width: 700px;
	height: 31px;
	margin-top: 15px;
	/* border: 1px solid pink; */
}
.shipp_bb{
	position: absolute;
	font-size: 12px;
	margin-left: 6px;
	margin-top: 8px;
}
.shipp_bb1{
	width: 150px;
	height: 30px;
	border: 1px solid #CA141D;
	border-radius: 2px;
}
.shipp_bb2{
	font-size: 12px;
	margin-left: 10px;
	position: absolute;
	margin-top: 6px;
}
.shipp_bb3{
	margin-left: 90px;
}
.shipp_bb3>div{
	float: left;
}
.shipp_bb4{
	width: 150px;
	height: 30px;
	border: 1px solid #A4A4A4;
	border-radius: 2px;
	margin-left: 10px;
}
.color_1{
	width: 98px;
	height: 40px;
	border: 1px solid #A9A9A9;
	border-radius: 2px;
}
.color_2{
	width: 98px;
	height: 40px;
	/* border: 1px solid #CA141D; */
	border-radius: 2px;
}
.color_zi{
	/* position: absolute;
	margin-top: 12px;
	margin-left: 5px;
	font-size: 12px;
	color: #3A3A3A; */
}
.color_2>span{
	font-size: 12px;
	color: #3A3A3A;
	/* top: -20px; */
	/* margin-top: 12px; */
	float: right;
	line-height: 35px;
	margin-right: 20px;
	/* position: absolute; */
	/* line-height: 30px; */
	/* overflow: hidden; */
}
.color_2>img{
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-top: 3px;
	margin-left: 8px;
}
.shipp_color{
	margin-left: 80px;
}
.shipp_color>div{
	float: left;
	margin-left: 10px;
}


.line{
	font-size: 1px;
	line-height: 1px;
	height: 0;
	background: 0;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
}
.shipp_pz1{
	width: 700px;
	height: 35px;
	/* border: 1px solid pink; */
	margin-top: 15px;
}
.shipp_tc{
	font-size: 12px;
	margin-left: 6px;
	margin-top: 10px;
	position: absolute;
}
.shipp_tc1{
	width: 80px;
	height: 30px;
	border: 1px solid #CA141D;
	position: absolute;
	margin-left: 90px;
}
.shipp_tc2{
	position: absolute;
	font-size: 12px;
	margin-left: 15px;
	margin-top: 6px;
}
.shipp_xd{
	width: 700px;
	height: 19px;
	/* border: 1px solid palegreen; */
	margin-top: 10px;
}
.shipp_xz{
	font-size: 12px;
	margin-left: 6px;
}
.shipp_xz1{
	font-size: 12px;
	margin-left: 15px;
	color: #CA141D;
}
.shipp_gw{
	width: 172px;
	height: 46px;
	font-size: 18px;
	color: #FFF8F7;
	background: #FC600C;
	border: none;
	/* margin-top: 15px; */
	border-radius: 3px;
}
.shipp_xd1{
	width: 172px;
	height: 46px;
	font-size: 18px;
	color: #FFF8F7;
	background: #CA151D;
	border: none;
	margin-left: 5px;
	border-radius: 3px;
}
.shipp_s{
	/* position: absolute; */
	float: left;
	/* border: 1px solid red; */
	
}
.shipp_s1{
	position: absolute;
	width: 700px;
	height: 46px;
	margin-top: 15px;
	/* border: 1px solid red; */
}
.shipp_s1>div{
	float: left;
}
.shipp_an{
	margin-left: 150px;
}


.btn-numbox,li
 {
	list-style: none;
}
.btn-numbox {
	overflow: hidden;
	margin-top: 10px;
}

.btn-numbox li {
	float: left;
}

.btn-numbox li .number,
.kucun {
	display: inline-block;
	font-size: 12px;
	color: #808080;
	vertical-align: sub;
}

 .btn-numbox .count {
	overflow: hidden;
 margin: 0 0 0 10px; 
} 

.btn-numbox .count .num-jian,
.input-num,
.num-jia {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 18px;
	color: #999;
	cursor: pointer;
	border: 1px solid #e6e6e6;
}
.btn-numbox .count .input-num {
	width: 58px;
	height: 28px;
	color: #333;
	border-left: 0;
	border-right: 0;
}
.shipp_bottem{
	width: 1200px;
	border-top: 1px solid #ddd;
}
.shipp_bottem_hearden{
	width: 1200px;
	height: 99.67px;
	position: relative;
	/* border: 1px solid red; */
}

.shipp_bottem_hearden>li{
	font-size: 18px;
	margin: 0 55px;
	list-style:none;
	float:left;
	padding:10px 50px;
	color: #A4A4A4;
}
.shipp_gg{
	color: #A4A4A4;
}
.shipp_bottem_hearden>li>div{
	position:absolute;
	margin-top: 30px;
	left:0px;
	display:none;
}
#current{
	color: #CA141D;
	border-bottom:2px solid #CA141D;
}
#show{
	display: block;
}
.xq_img{
	vertical-align: top;
	width: 100%;
	min-width: 1000px;
}
.shipp_gg2{
	width: 1200px;
	height: 23px;
	border-left: 4px solid #CA141D;
	
}
.shipp_gg1{
	color: #3A3A3A;
	line-height: 23px;
	margin-left: 15px;
	font-size: 18px;
}
.line2{
	margin-top: 20px;
	width: 1200px;
	border-bottom: 1px solid #ddd;
}
.shipp_gg3{
	width: 1200px;
	height: 864px;
	margin-top: 25px;
	/* background: red; */
}
.shipp_gg3 h2{
	color: #333333;
	font-size: 22px;
}
.shipp_gg4{
	list-style: none;
	padding: 24px 0 0;
	position: relative;
	font-size: 16px;
	float: right;
	width: 1046px;
	color: #333333;
}

.shipp_gg5{
	line-height: 50px;
	display: inline-block;
	width: 128px;
	/* border: 1px solid red; */
}
.shipp_gg6{
	display: inline-block;
	width: 320px;
	margin-left: 96px;
}
.shipp_gg7{
	display: inline-block;
	width: 438px;
	color: #999;
	font-size: 14px;
	margin-left: 50px;
}
.shipp_bz{
	width: 1200px;
	height: 110px;
	/* background: #000000; */
}
.shipp_bz1{
	width: 1200px;
	height: 23px;
	border-left: 4px solid #CA141D;
	margin-top: 20px;
}
.shipp_bz2{
	margin-top: 40px;
	margin-left: 100px;
}
.shipp_bz2 em{
	font-size: 14px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #3a3a3a;
	margin-right: 25px;
	margin-bottom: 20px;
	padding-left: 20px;
	width: 223px;
}
.shipp_bz2 em::before{
	content: "";
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 3px;
	background: #d8d8d8;
	position: absolute;
	top: 7px;
	left: 0;
}
.shipp_sh{
	/* background: red; */
	width: 1020px;
	height: 130px;
	margin-top: 40px;
}
.shipp_sh1 span{
	position: relative;
	padding-left: 16px;
	line-height: 26px;
	font-size: 14px;
	color: #3a3a3a;
}
.shipp_sh1 span::before{
	content: "";
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 3px;
	background: #d8d8d8;
	position: absolute;
	top: 6px;
	left: 0;
}
